{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "prettier", "jest"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "linebreak-style": "off",
    "react-hooks/rules-of-hooks": "warn",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "auto",
        "semi": false
      }
    ]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["tsconfig.json"]
  }
}
